{% extends 'layout.html' %}

{% block body %}

  <!-- Include CSS and required scripts -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/personal.css') }}">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="static/js/edit_personal_text.js"></script>
  <script src="static/js/table_to_list.js"></script> 

  <!-- Fixed animated background element -->
  <div id="vanta-bg"></div>

  <!-- Main content container -->
  <div id="vanta-content">

    {% if logged_in %}
      {% if view_mode == 'guest' %}
        <nav>
          <div class="topnav" id="myTopnav">
            <a href="{{ url_for('main.home', view_mode='admin') }}">Home</a>
            <a href="{{ url_for('main.about_me', view_mode='admin') }}">About me</a>
            <div class="dropdown">
              <button class="dropbtn">Projects</button>
              <div class="dropdown-content">
                <a href="{{ url_for('main.academic', view_mode='admin') }}">Academic</a>
                <a href="{{ url_for('main.personal', view_mode='admin') }}">Personal</a>
              </div>
            </div>
            <div class="dropdown">
              <button class="dropbtn">Hobbies</button>
              <div class="dropdown-content">
                <a href="{{ url_for('main.story_writing', view_mode='admin') }}">Story Writing</a>
                <a href="{{ url_for('main.exploring_the_outdoor', view_mode='admin') }}">Exploring The Outdoor</a>
                <a href="{{ url_for('main.game_development', view_mode='admin') }}">Game Development</a>
              </div>
            </div>
            <a href="{{ url_for('main.contact', view_mode='admin') }}">Contact</a>
            <a href="{{ url_for('main.personal', view_mode='guest') }}">Guest View</a>
            <a href="{{ url_for('main.logout') }}">Logout</a>
            <a href="javascript:void(0);" class="icon" onclick="toggleView()">&#9776;</a>
          </div>
        </nav>
      {% else %}
        <nav>
          <div class="topnav" id="myTopnav">
            <a href="{{ url_for('main.home', view_mode='admin') }}">Home</a>
            <a href="{{ url_for('main.about_me', view_mode='admin') }}">About me</a>
            <div class="dropdown">
              <button class="dropbtn">Projects</button>
              <div class="dropdown-content">
                <a href="{{ url_for('main.academic', view_mode='admin') }}">Academic</a>
                <a href="{{ url_for('main.personal', view_mode='admin') }}">Personal</a>
              </div>
            </div>
            <div class="dropdown">
              <button class="dropbtn">Hobbies</button>
              <div class="dropdown-content">
                <a href="{{ url_for('main.story_writing', view_mode='admin') }}">Story Writing</a>
                <a href="{{ url_for('main.exploring_the_outdoor', view_mode='admin') }}">Exploring The Outdoor</a>
                <a href="{{ url_for('main.game_development', view_mode='admin') }}">Game Development</a>
              </div>
            </div>
            <a href="{{ url_for('main.contact', view_mode='admin') }}">Contact</a>
            <a href="{{ url_for('main.personal', view_mode='guest') }}">Guest View</a>
            <a href="{{ url_for('main.logout') }}">Logout</a>
            <a href="javascript:void(0);" class="icon" onclick="toggleView()">&#9776;</a>
          </div>
        </nav>
      {% endif %}
    {% else %}
      <nav>
        <div class="topnav" id="myTopnav">
          <a href="{{ url_for('main.home', view_mode=view_mode) }}">Home</a>
          <a href="{{ url_for('main.about_me', view_mode=view_mode) }}">About me</a>
          <div class="dropdown">
            <button class="dropbtn">Projects</button>
            <div class="dropdown-content">
              <a href="{{ url_for('main.academic', view_mode=view_mode) }}">Academic</a>
              <a href="{{ url_for('main.personal', view_mode=view_mode) }}">Personal</a>
            </div>
          </div>
          <div class="dropdown">
            <button class="dropbtn">Hobbies</button>
            <div class="dropdown-content">
              <a href="{{ url_for('main.story_writing', view_mode=view_mode) }}">Story Writing</a>
              <a href="{{ url_for('main.exploring_the_outdoor', view_mode=view_mode) }}">Exploring The Outdoor</a>
              <a href="{{ url_for('main.game_development', view_mode=view_mode) }}">Game Development</a>
            </div>
          </div>
          <a href="{{ url_for('main.contact', view_mode=view_mode) }}">Contact</a>
          <a href="javascript:void(0);" class="icon" onclick="toggleView()">&#9776;</a>
        </div>
      </nav>
    {% endif %}

    <!-- Scholarly Personal Projects Section -->
    {% if logged_in and view_mode == 'admin' %}
      <div class="editable-container">
      <section class="scholarly-content">
        <div class="page-header">
          <h1 id="personal_projects_main_title">{{ personal_projects_main_title }}</h1>
          <hr class="header-divider">
        </div>
        <div class="introduction">
          <h5 id="personal_projects_main_intro">{{ personal_projects_main_intro }}</h5>
        </div>
        </section>
          <div id="myTable">
            <table class="table-class">
              <thead>
                <tr>
                  {% for key in documents[0].keys() %}
                    {% if key != '_id' %}
                      <th>{{ key }}</th>
                    {% endif %}
                  {% endfor %}
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                {% for document in documents %}
                  <tr>
                    {% for key, value in document.items() %}
                      {% if key != '_id' %}
                        {% if key == 'Image preview' %}
                          <td class="image-cell">
                            {% if value %}
                              <img src="{{ value }}" alt="Image preview" width="90%" height="90%">
                            {% endif %}
                            <br>
                            <div class="image-actions">
                              <input type="file" name="image" class="image-input">
                            </div>
                          </td>
                        {% else %}
                          <td contenteditable="true">{{ value }}</td>
                        {% endif %}
                      {% endif %}
                    {% endfor %}
                    <td>
                      <button class="delete-row">Delete</button>
                    </td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
          <div class="table-controls">
            <button id="add-row">Add Row</button>
            <button id="save-changes">Save Changes</button>
            <button id="cancel-changes">Cancel Changes</button>
          </div>
          <script src="static/js/edit_personal_table.js"></script>
        </div>
    {% else %}
      <section class="scholarly-content">
        <div class="page-header">
          <h1 id="personal_projects_main_title">{{ personal_projects_main_title }}</h1>
          <hr class="header-divider">
        </div>
        <div class="introduction">
          <h5 id="personal_projects_main_intro">{{ personal_projects_main_intro }}</h5>
        </div>
      </section>

        <div id="myTable">
          <table>
            <thead>
              <tr>
                {% for key in documents[0].keys() %}
                  {% if key != '_id' %}
                    <th>{{ key }}</th>
                  {% endif %}
                {% endfor %}
              </tr>
            </thead>
            <tbody>
              {% for document in documents %}
                <tr>
                  {% for key, value in document.items() %}
                    {% if key != '_id' %}
                      {% if key == 'Image preview' %}
                        <td class="image-cell">
                          {% if value %}
                            <img src="{{ value }}" alt="Image preview" width="90%" height="90%">
                          {% endif %}
                        </td>
                      {% elif key == 'Source Code' %}
                        <td>
                          <a href="{{ 'http://' if '://' not in value else '' }}{{ value | e }}" target="_blank">{{ value | e }}</a>
                        </td>
                      {% else %}
                        <td>{{ value }}</td>
                      {% endif %}
                    {% endif %}
                  {% endfor %}
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
    {% endif %}

  </div>

{% endblock %}
